{%load bootstrap%}

		{%block extra_head%}
		<script src="/static/js/jquery.validate.js"></script>
		<link href="/static/css/style.css" rel="stylesheet">
		<script>

			$().ready(function() {		
			
				$( "#formulario" ).validate(			
				
				{
				
				highlight: function(element) {
					$(element).closest('.control-group').removeClass('success').addClass('error');
				},
				
				success: function(element) {
					element
					.text('OK!').addClass('valid')
					.closest('.control-group').removeClass('error').addClass('success');
				}
				
				
				
				});
				
			});
			
			
		</script>
		
		<style type="text/css">
			label.valid {
			  width: 24px;
			  height: 24px;
			  background: url(assets/img/valid.png) center center no-repeat;
			  display: inline-block;
			  text-indent: -9999px;
			}
			label.error {
			  font-weight: bold;
			  color: red;
			  padding: 2px 8px;
			  margin-top: 2px;
			}
		</style>
		{%endblock%}



<form class="form-horizontal" id='formulario' method='post' action=''>
	<fieldset>
	
		<legend>
			<div class="controls">
			Formulario alta de {{nombre}}
			</div>
		</legend>

		{% csrf_token %}
		{{formulario|bootstrap}}

		{% block extraform %} 

		{% endblock %}

		<div class="form-actions">
			<div class="btn-group">
				<button type="submit" class="btn btn-primary">Guardar</button>
				<button type="reset" class="btn">Reset</button>
				<a type="cancel" class="btn" href='{%block linkcancelar%}{%endblock%}/lista/{{n}}' >Cancelar</a>
			</div>	
		</div>
	</fieldset>
</form>
