{%load bootstrap%}

		{%block extra_head%}
		<script src="/static/js/jquery.validate.js"></script>
		
		<script>

			$().ready(function() {		
			
				$( "#formulario" ).validate(			
				
				{
				
				highlight: function(element) {
					$(element).closest('.control-group').removeClass('success').addClass('error');
				},
				
				success: function(element) {
					element
					.text('OK!').addClass('valid')
					.closest('.control-group').removeClass('error').addClass('success');
				}
				
				
				
				});
				
			});
			
			
		</script>
		{%endblock%}



<form class="form-horizontal" id='formulario' method='post' action=''>
	<div class="controls">		
		<h4>{{nombre}}</h4>
	</div>	
	{% csrf_token %}
	{{formulario|bootstrap}}

	{% block extraform %} 

	{% endblock %}

	<div class="controls">
		<div class="btn-group">
			<button type="submit" class="btn btn-primary">Guardar</button>
			<button type="reset" class="btn btn-primary">Reset</button>
			<a type="cancel" class="btn btn-primary" href='{%block linkcancelar%}{%endblock%}/lista/{{n}}' >Cancelar</a>
		</div>	
	</div>
</form>
