{%extends 'lista.html'%}
{%block modulo1%}usuarios{%endblock%}
{%block modulo2%}usuarios{%endblock%}
{%block modulo3%}usuarios{%endblock%}
{%block modulo4%}usuarios{%endblock%}
{%block modulo5%}usuarios{%endblock%}
{%block modulo6%}usuarios{%endblock%}
{%block linkcancelar%}usuarios{%endblock%}

{% block extralinks %}

{% if dato.9 == 0 %}
<a href='/usuarios/bloqueo/usuario/{{dato.0}}' class="label label-success">Desbloquear<i class='icon-pencil icon-white'></i></a>
{% else %}
<a href='/usuarios/bloqueo/usuario/{{dato.0}}' class="label label-success">Bloquear   <i class='icon-pencil icon-white'></i></a>
{% endif %}

{% endblock %}
		
