
{%load bootstrap%}

		{%block extra_head%}
		<script src="/static/js/jquery.validate.js"></script>
		<link href="/static/css/style.css" rel="stylesheet">
		<script>

			$().ready(function() {		
			
				$( "#formulario" ).validate(			
				
				{
				
				highlight: function(element) {
					$(element).closest('.control-group').removeClass('success').addClass('error');
				},
				
				success: function(element) {
					element
					.text('OK!').addClass('valid')
					.closest('.control-group').removeClass('error').addClass('success');
				}
				
				
				
				});
				
			});
			
		$(function() 
    { 
       $("#q").autocomplete({
		source: "/datos/lista/get_name/{{n}}",
		minLength: 2
	
		});
    } 
	
);
			
			
		</script>
		
		<style type="text/css">
			span.valid {
			  width: 24px;
			  height: 24px;
			  background: url(/static/img/valid.png) center center no-repeat;
			  display: inline-block;
			  text-indent: -9999px;
			}
			span.error {
			  font-weight: bold;
			  color: red;
			  padding: 2px 8px;
			  margin-top: 2px;
			}
			
			.form-horizontal .control-group {
			margin-bottom: 5px;
			}
		</style>
		{%endblock%}

{%include 'persona_base.html'%} 
{% if formulario.is_multipart %}
<form enctype="multipart/form-data" class="form-horizontal" id='formulario' method='post' action=''>
{% else %}
<form class="form-horizontal" id='formulario' method='post' action=''>
{% endif %}
	<fieldset>
	
		<legend>
			<div class="controls">
			Formulario alta de {{parametros.plural_name}}
			</div>
		</legend>

		{% csrf_token %}
		<div class="row">
			<div class={% block span_form %}"span12"{% endblock %}>
			{{formulario|bootstrap}}
			</div>
			
			<div class={% block span_extraform %}{% endblock %}>
			{% block extraform %} 

			{% endblock %}
			</div>
		</div>
		
		<div class="row">
			<div class="form-actions">
				<div class="btn-group">
					<button type="submit" class="btn btn-primary">Guardar</button>
					<button type="reset" class="btn">Reset</button>
					<a type="cancel" class="btn" href='{%block linkcancelar%}{%endblock%}/lista/{{parametros.name}}' >Cancelar</a>
				</div>	
			</div>
		</div>
	</fieldset>
</form>
